<div class="container py-3">
  <h2>Perfil</h2>
  <div class="container my-3">
        <img class="mb-3" src=<%= imgURL %> alt="" width="80" height="80"><br>
        <span>Nombre</span>
        <span class="form-control w-25 p-1 mb-3 mt-1"><%= name %></span>
        <span>Correo Electrónico</span>
        <span class="form-control w-25 p-1 mb-3 mt-1"><%= email %></span>
        <span>Dirección</span>
        <span class="form-control w-25 p-1 mb-3 mt-1"><%= address %></span>
        <span>Teléfono</span>
        <span class="form-control w-25 p-1 mb-3 mt-1"><%= phone %></span>
        <span>Edad</span>
        <span class="form-control w-25 p-1 mb-3 mt-1"><%= age %></span><br>
        <a href="/carrito"><button type="submit" class="mx-4 p-2 btn-view">Carrito</button></a>
  </div>
</div>